@using ComputerStore.DataAccess.Entities
@model IEnumerable<CategoryEntity>

<h1>Категории</h1>

<ul>
    @foreach (var category in Model)
    {
        <li>
            <a asp-action="ProductsByCategory" asp-route-categoryId="@category.Id">
                @category.Name
            </a>
        </li>
    }
</ul>